.track_and_title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.track_and_title > * {
    margin: 0.5%;
}

.track_and_title > img {
    max-width: 35%;
    max-height: 35%;
}

.cont {
    max-width: 50%;
    margin: auto;
}

.table_cont {
    max-width: 50%;
    margin: auto;
}

.table_cont > table {
    margin: 0 auto;
    text-align: center;
}


.face_img_box { 
    width: 4rem;
    aspect-ratio: 3/4;
    overflow: hidden;
    position: relative;
}

.face_img_box > img {
    position: absolute;
    top: -5%;                
    left: -10%;
    width: 110%;              
    height: auto;
}